# Servidor
PORT=3001
NODE_ENV=development

# Base de Datos (PostgreSQL / NeonTech)
DB_HOST=tu_servidor.neon.tech
DB_PORT=5432
DB_DATABASE=iris_db
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_SSL=true

# Seguridad y Autenticación
JWT_SECRET=tu_clave_secreta_jwt

# Pasarela de Pagos (Stripe)
STRIPE_SECRET=sk_test_tu_clave_secreta_de_stripe
